<div class="card-deck">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">Marylis Stenger</h1>
            <p class="card-text">Son mail : stenger_marylis@hotmail.fr</p>
        </div>
    </div>
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title">Chloé Renard</h1>
            <p class="card-text">Son mail : chloe.renard51pro@gmail.com</p>
        </div>
    </div>
</div>